/* shared styes */
.flex{
    display: flex;
}

.hide{
    display: none;
}

/* nav styles */
.navbar{
    max-width: 1140px;
    margin: 30px auto 120px;
    justify-content: space-between;
    
}

.menu-items-container{
    max-width: 415px;
    gap: 48px;
    align-items: center;
    color: #8987A1;

}

.menu-item{
    
}

#home{
    font-weight: 700;
    color: #252432;
}

.menu-cart{
    align-items: center;
    gap: 10px;
}

.cart-img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}
#cart{
    color: #000000;
}

@media screen and (max-width:576px) {
    .navbar{
        margin: 13px 16px 28px 16px;
    }
    .logo{
        max-width: 63px ;
        max-height: 38px;
    }
    .menu-item{
        display: none;
    }
    /* .menu-cart{
        padding-bottom: 7px;
        padding-top: 7px;
    } */
}