body{
    background-color: #F5F8FF;
}

/* shared styes */
.flex{
    display: flex;
}

.hide{
    display: none;
}

.btn-mango{
    background-color: #E95A08;
    padding: 19px 89.2px ;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}

/* nav styles */
.navbar{
    max-width: 1140px;
    margin: 30px auto 120px;
    justify-content: space-between;
    
}

.menu-items-container{
    max-width: 415px;
    gap: 48px;
    align-items: center;
    color: #8987A1;

    

}

.menu-item-link{
      text-decoration: none;
    
}

#home{
    font-weight: 700;
    color: #252432;
  
    
}

.menu-cart{
    align-items: center;
    gap: 10px;
}

.cart-img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}
#cart{
    color: #000000;
}

/* banner styles */
.banner-sect{
    max-width: 1140px;
    margin: 0 auto;
    align-items: end ;
    justify-content: center;
    margin-bottom: 120px;
    
}

.banner-container{
    max-width: 570px;
    
    
    
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #E95A08;
    margin: 0%;
    /* max-width: 517px; */
    margin-bottom: 13px;
}

#always{
    color: #000000;
}

.banner-description{
    font-size: 1.375rem;
    color: #00000050;
    margin: 0%;
    
}

.banner-img{
    max-width: 570px;
    width: 100%;
}

/* plants styles */
.plants-sect{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    
}

.plants-intro{
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 49px;
    
}
.plants-title{
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    
}
#our{
    color: #E95A08;
}

.plants-subtitle{
    font-size: 1.375rem;
    color: #00000050;
    margin: 0;
}

.plants-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;

}
.plants-card{
    background-color:#FFFFFF ;
}

.plants-img{
    
}

.plants-name{
    font-size: 1.375rem;
    font-weight: 500;
    margin: 30px 0 20px;
    color: #111111;
    
}

.plants-price{
    font-size: 1.375rem;
    font-weight: 700;
    color: #111111;
    margin: 0;
    margin-bottom: 30px;
}

/* responsive for small device */
@media screen and (max-width:576px) {
    .navbar{
        margin: 13px 16px 28px 16px;
    }
    .logo{
        max-width: 63px ;
        max-height: 38px;
    }
    .menu-item{
        display: none;
    }
    

    .banner-sect{
        flex-direction: column-reverse;
        align-items: start;
    }
    .banner-title{
        font-size: 1.5rem; 
        max-width: 191px;
    }
    .banner-description{
        font-size: 0.875rem;
    }
    .banner-container{
        margin: 28px 16px 65px 16px;
    }
    .plants-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 20px 29px;
     
    }
 
    .plants-img, .plants-card{
        max-width:171px ;
        margin: 0 auto;
    } 
    .btn-mango{
        padding: 19px 39px;
    }

}